html {
  font-size: 100%;
}

body {
  background-color: #faebd7;
  color: #2b2b2b;
  line-height: 2.0;
  font-family: serif;
}

a {
  text-decoration: none;

}

canvas {
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;
  width: 100vw;
  height: 100vh;
}

.startWindow,
.gameOverWindow {
  background-color: #2c2c2c;
  color: #f0f8ff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
}

.startButton {
  background-color: #636363;
  color: #f0f8ff;
  border-radius: 10%;
  border: 2px solid #f0f8ff;
  font-family: serif;
  font-size: 1.25rem;
  width: 150px;
  height: 100px;
  cursor: pointer;
  transition: box-shadow 2s ease-out, transform 2s ease-out;
}

.startButton:hover {
  box-shadow: 0 5px 2px 1px #c5c5c54f;
  transform: translateY(-10px);
}

.audioController {
  display: block;
  position: fixed;
  right: 16px;
  top: 16px;
}

.audioPlayButton,
.audioStopButton,
.audioGainPlusButton,
.audioGainMinusButton {
  background-color: #636363;
  color: #f0f8ff;
  box-shadow: none;
  cursor: pointer;
  width: 64px;
  height: 32px;
  margin-left: 10px;
}

.audioStop, .audioPlay {
  display: block;
  position: fixed;
  left: 16px;
  top: 16px;
}

.fullScreenButton {
  background-color: #636363;
  color: #f0f8ff;
  font-size: 0.5rem;
  border: 2px dashed #f0f8ff;
  border-radius: 5%;
  box-shadow: none;
  cursor: pointer;
  display: block;
  position: fixed;
  right: 16px;
  bottom: 16px;
  width: 64px;
  height: 32px;
}